﻿@model IEnumerable<MVCLayer.Models.DriverModel>

<p style="color:red">@TempData["result"]</p>

@if (Model.Count() == 0)
{
    <p>NO Data in DB</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Driver_ID)</th>
                <th>@Html.DisplayNameFor(m => m.Driver_Name1)</th>
                <th>@Html.DisplayNameFor(m => m.Driver_Name2)</th>
                <th>@Html.DisplayNameFor(m => m.Driver_Age)</th>
                <th>@Html.DisplayNameFor(m => m.Driver_Points)</th>
                <th>Datasheet</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Driver_ID)</td>
                    <td>@Html.DisplayFor(m => item.Driver_Name1)</td>
                    <td>@Html.DisplayFor(m => item.Driver_Name2)</td>
                    <td>@Html.DisplayFor(m => item.Driver_Age)</td>
                    <td>@Html.DisplayFor(m => item.Driver_Points)</td>
                    <td>@Html.ActionLink("Details", "Details", new { id = item.Driver_ID })</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Driver_ID })</td>
                    <td>@Html.ActionLink("Remove", "Remove", new { id = item.Driver_ID })</td>
                </tr>
            }
        </tbody>
    </table>
}

