﻿@model MVCLayer.Models.DriverModel
@{
    ViewBag.Title = "CrudDatasheet";
}

<h2>Detailed Driver Information</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Driver_ID)</td>
        <td>@Html.DisplayFor(m => m.Driver_ID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Driver_Name1)</td>
        <td>@Html.DisplayFor(m => m.Driver_Name1)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Driver_Name2)</td>
        <td>@Html.DisplayFor(m => m.Driver_Name2)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Driver_Age)</td>
        <td>@Html.DisplayFor(m => m.Driver_Age)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Driver_Points)</td>
        <td>@Html.DisplayFor(m => m.Driver_Points)</td>
    </tr>
</table>