﻿@model MVCLayer.Models.DriverModel

<h2>Add/Edit Drivers</h2>

@using (Html.BeginForm(ViewData["TargetAction"].ToString(), "Crud"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Driver_ID)

    <div class="editor-label">@Html.LabelFor(m => m.Driver_Name1)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Driver_Name1)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Driver_Name2)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Driver_Name2)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Driver_Age)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Driver_Age)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Driver_Points)</div>
        <div class="editor-field">@Html.EditorFor(m => m.Driver_Points)</div>

    <input type="submit" value="SEND" />

}
